<html>
  <head>
    <title>Upload</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
    
    <!-- css -->
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/Upload/header.css">
    <link rel="stylesheet" href="/static/css/Upload/main.css">
    
    <!-- dropbox -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
  
  </head>
  <body>
    <!-- header -->
    <section id = "header">
      <div class="wrap">
        <h3>Clothes</h3>
            <ul>
                <li><a href="/">Show</a></li> 
                <li><a href="/end">Home</a></li>
            </ul>
        </div>
    </section>
    
    <!-- main -->
    <section id="main">
      
      <div class="wrap">        
        
        <ul>
          <li>
            <h3>Shirts</h3>
            <form action="{{ url_for('Upload_shirts') }}" class="dropzone"></form>
          </li>
          <li>
            <h3>Pants</h3>
            <form action="{{ url_for('Upload_pants') }}" class="dropzone"></form>
          </li>
          <li>
            <h3>Shoes</h3>
            <form action="{{ url_for('Upload_shoes') }}" class="dropzone"></form>
          </li>
        </ul>

      </div> 
       
    </section>
  </body>
</html>