#header{

}
#header .wrap{
    padding-top:50px;
    padding-bottom: 20px;
}
#header .wrap ul{
    display: flex;
    width:350px;
    height:70px;
    margin-left:calc(100% - 350px);
}
#header .wrap ul li{
    
}
#header .wrap ul li a{
    display:inline-block;
    width:150px;
    height:70px;
    text-align: center;
    line-height: 70px;
    font-size:30px;
    font-weight: bold;
    color:#000;
    background-color: #eee;
    border-radius: 10px;
    box-sizing:border-box;
    transition: all 0.5s;
}
#header .wrap ul li a:hover{
    background-color: #fff;
    border: 2px solid #000;
}
#header .wrap ul li:nth-child(1){
    margin-right:50px;
}